/*
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

body {
    overflow-x: hidden;
}
p {
    font-size: 20px;
}
p.small {
    font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    color: #18BC9C;
    outline: none;
}
hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}
hr.star-light {
    border-color: white;
}
hr.star-light:after {
    background-color: #18BC9C;
    color: white;
}
hr.star-primary {
    border-color: #2C3E50;
}
hr.star-primary:after {
    background-color: white;
    color: #2C3E50;
}
.img-centered {
    margin: 0 auto;
}
header {
    text-align: center;
    background: #18BC9C;
    color: white;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
header img {
    display: block;
    margin: 0 auto 20px;
}
header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}
header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}
@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
}
@media (min-width: 768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar a:focus {
    outline: none;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: none;
}
.navbar-default,
.navbar-inverse {
    border: none;
}
section {
    padding: 100px 0;
}
section h2 {
    margin: 0;
    font-size: 3em;
}
section.success {
    background: #18BC9C;
    color: white;
}
@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(24, 188, 156, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}
#portfolio * {
    z-index: 2;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.btn-outline {
    color: white;
    font-size: 20px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white;
}
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}
footer {
    color: white;
}
footer h3 {
    margin-bottom: 30px;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}
.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}
.scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
}
.scroll-top .btn:focus {
    outline: none;
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}
.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    !* IE 9 *!
    -webkit-transform: rotate(45deg);
    !* Safari and Chrome *!
    z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    !* IE 9 *!
    -webkit-transform: rotate(90deg);
    !* Safari and Chrome *!
    z-index: 1052;
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}
*/
/* Portfolio Section
--------------------------------*/
#portfolio {
    padding: 80px 0;
}

#portfolio .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;
    text-decoration: none;
}

#portfolio .portfolio-item .details {
    height: 260px;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
}

#portfolio .portfolio-item .details h4 {
    font-size: 16px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #333333;
}

#portfolio .portfolio-item .details span {
    display: block;
    color: #666666;
    font-size: 13px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    text-decoration: none;
}

#portfolio .portfolio-item:hover .details {
    opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-decoration: none;
}

#portfolio .portfolio-item:hover .details span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#525252));
}
/*footer*/
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #5bc0de;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

/*html{
    height: 100%;
}*/

/*body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}*/

.content{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 0px;
    position: relative;
    bottom:0;
    width: 100%;
}
/*end footer*/
.btn-blue{
    color: white;
    background-color: #5bc0de;
}